* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.background {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
}

.background::before {
  content: "";
  background-image: url("../images/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  
  opacity: 0.7;
}

.container {
  position: relative;
}
form{
  color: aliceblue;
}